
	<div class="card mb-3 shadow bg-white rounded" style="height:210px">
		<div class="card-body">
		  	<p class="card-subtitle text-muted ">{{newsfeedItem.authorFullName.toUpperCase()}}</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam perspiciatis minus placeat impedit rerum, animi eaque quasi dolorum, consectetur, dolore doloribus expedita quidem eum sit suscipit tempora commodi architecto et.</p>
			<p>{{ newsfeedItem.dateCreated | date: 'medium' }}</p>
		</div>
	</div>
