<div class="container min-vh-100 d-flex align-items-center">
  <div class="row justify-content-center w-100">
    <div class="col-md-6 col-lg-5 mx-auto">
      <div>
        <img src="assets/jitLogo.png" class="mx-auto d-block" width="150" height="150" alt="logo"/>
      </div>
      <h2 class="display-5 text-center mb-4"></h2>
      <form class="w-100" #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
        <!-- First and Last Name Inline -->
        <div class="row mb-3">
          <div class="col">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" [(ngModel)]="register.firstname" name="firstname" id="firstname" placeholder="John">
          </div>
          <div class="col">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastname" [(ngModel)]="register.lastname" name="lastname" placeholder="Doe">
          </div>
        </div>

        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" [(ngModel)]="register.email" id="email" name="email" placeholder="example@example.com">
        </div>

        <!-- Password -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" [(ngModel)]="register.password" name="password" class="form-control">
        </div>

        <!-- Submit Button -->
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
